{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Therapists</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="icon" href="{%static 'assets/img/logo.jpg'%}" type="image/x-icon">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul class="navbar">
            <li><a href="{% url 'home' %}">Home</a></li>
        
            <li class="dropdown">
                <a href="resources.html" class="dropdown-toggle">Resources</a>
                <ul class="dropdown-content">
                    <li><a href="{% url 'articles' %}">Articles</a></li>
                    <li><a href="{% url 'videos' %}">Videos</a></li>
                    <li><a href="{% url 'podcasts' %}">Podcasts</a></li>
                    <li><a href="{% url 'tools' %}">Tools</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">Virtual Counseling</a>
                <ul class="dropdown-content">
                    <li><a href="{% url 'therapists' %}">Therapist Directory</a></li>
                    <li><a href="{% url 'booking' %}">Booking Appointments</a></li>
                    <li><a href="{% url 'faq' %}">FAQs About Counseling Services</a></li>
                </ul>
            </li>
            <li><a href="{% url 'community' %}">Community</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'register' %}" style="display: inline-block; padding: 10px 20px; font-size: 16px; color: #fff; background-color: #007BFF; text-decoration: none; border-radius: 5px; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#0056b3'" onmouseout="this.style.backgroundColor='#007BFF'">Login/Register</a></li>
        </ul>
    </nav>    